name: HelloMaven app build workflow

on: 
  push:
    branches:
      - main
jobs:
  sonarcloudscan:
    name: sonarcloudscan
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8.0.192, 8 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: zulu
          cache: maven
      - name: Build and analyze
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:<version>:sonar \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=reachrajanig \
          -Dsonar.projectKey=reachrajanig_hellomaven

