name: HelloMaven app build workflow


on: 
  push:
    branches:
      - main
jobs:
  sonarcloudscan:
    name: sonarcloudscan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 
        uses: actions/setup-java@v2
        with:
          java-version: 17 
          distribution: zulu
          cache: maven
      - name: Build and analyze
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -e verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
              -Dsonar.projectKey=reachrajanig_hellomaven \
              -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
              -Dsonar.organization=reachrajanig
              

